*{
    
    margin: 0px;
    padding: 0px;

}

body{

    font-family: "Azeret Mono", monospace;

}

/* nav section styles started here */

nav{

    width: 1440px;
    height: 131px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    margin-left: 150px;

}

nav button{

    width: 250px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    background: none;
    border-radius: 8px;
    opacity: 0.8;
    margin-right: 166px;

}

/* nav section styles ended here */

/* banner section started here */

.banner-container{

    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.banner-content{

    width: 998px;
    height: 582px;
    margin: 0 auto;

}

.banner-content img{

    width: 240.28px;
    height: 240px;
    margin-bottom: 32px;

}

.banner-content h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;

}

.p-content{

    width: 852px;
    height: 52px;
    margin-bottom: 32px;

}

.banner-content p{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;


}

.banner-content button{

    width: 250px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 21px 24px 21px 24px;
    border: none;
    
}

/* banner section ended here */

/* why web development started here */

.why-dev-container{

    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02); 
    margin-bottom: 88px;

}

.why-dev-content{

    width: 946px;
    height: 1235px;

}

.title-subtitle{

    width: 852px;
    height: 115px;
    margin: 0 auto;
    margin-bottom: 48px;

}

.title-subtitle h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;

}

.title-subtitle p{

    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

/* box-1 styles started here */

.section-one-container{

    width: 946px;
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-one-content{

    width: 850px;
    height: 240px;
    display: flex;
    align-items: center;
    


}

.section-one-text{

    width: 477px;
    height: 220px;

}

.section-one-text h1{

    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;

}

.section-one-text p{

    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 26px;

}

.section-one-text button{

    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    background: none;

}

.section-one-img{

    width: 274.17px;
    height: 240px;
    margin-left: auto;

}

/* box-1 styles ended here */

/* box-2 styles started here */

.section-two-container{

    width: 946px;
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-two-content{

    width: 850px;
    height: 240px;
    display: flex;
    align-items: center;

}

.section-two-img{

    width: 274.17px;
    height: 240px;
    margin-right: auto;

}

.section-two-text{

    width: 477px;
    height: 220px;

}

.section-two-text h1{

    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;

}

.section-two-text p{

    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 26px;

}

.section-two-text button{

    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    background: none;

}

/* box-2 styles ended here */

/* box-3 styles started here */

.section-three-container{

    width: 946px;
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-three-content{

    width: 850px;
    height: 240px;
    display: flex;
    align-items: center;
    
}

.section-three-text{

    width: 477px;
    height: 220px;

}

.section-three-img{

    width: 274.17px;
    height: 240px;
    margin-left: auto;

}

.section-three-text h1{

    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;

}

.section-three-text p{

    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 26px;

}

.section-three-text button{

    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    background: none;

}

/* box-3 styles ended here */

/* why web development ended here */

/* inspiration section styles started here */

.inspiration-container{

    width: 1140px;
    height: 777px;
    margin: 0 auto;

}

.my-inspiration-text{

    width: 852px;
    height: 115px;
    margin: 0 auto;
}
.my-inspiration-text h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;

}

.my-inspiration-text p{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.video-container{

    width: 1140px;
    height: 614px;
    margin: 0 auto;
    margin-top: 48px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video-frame{

    width: 1076px;
    height: 550px;

}

.video-frame video{

    border-radius: 16px;

}


/* inspiration section styles ended here */

/* my target section styles started here */

/* current targe styles started */

.target-container{

    width: 1140px;
    height: 1445px;
    margin: 0 auto;
    margin-top: 149px;

}

.current-target-container{

    width: 1140px;
    height: 463px;

}

.current-target-title{

    width: 946px;
    height: 115px;
    margin: 0 auto;

}

.current-target-title h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;

}

.current-target-title p{

    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.current-target-content{

    width: 1140px;
    height: 300px;
    margin: 0 auto;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;

}

.box{

    width: 364px;
    height: 300px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-d{

    width: 364px;
    height: 300px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-content{

    width: 284px;
    height: 220px;
}

.box-content-d{
    
    width: 284px;
    height: 220px;

}

.box-content-d img{

    margin-bottom: 15px;

}

.box-content-d h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;

}

.box-content-d p{

    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    
}

.box-content-d a{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;

}


.box-content img{

    margin-bottom: 24px;

}

.box-content h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;

}

.box-content p{

    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;

}

.box-content a{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;

}
/* current target styles ended */

/* my target section styles ended here */

/* my next target section started here */

.next-target-container{

    width: 1140px;
    height: 871px;
    margin: 0 auto;
    margin-top: 111px;

}

.next-target-title{

    width: 946px;
    height: 115px;
    margin: 0 auto;

}

.next-target-title h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;

}

.next-target-title p{

    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.next-target-box{

    width: 1140px;
    height: 220px;
    margin: 0 auto;
    margin-top: 24px;
    border: 2px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.next-content{

    width: 1060px;
    height: 140px;
    display: flex;

}

.content-img{

    width: 150px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.next-text{

    width: 885px;
    height: 140px;
    margin-left: auto;

}

.next-text h1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;

}

.next-text p{

    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;

}

.next-text a{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;

}

/* my next target section ended here */

/* i need support section styles started here */

.need-support-container{

    width: 1140px;
    height: 314px;
    background: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 41px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.need-support-content{

    width: 1044px;
    height: 186px;

}

.need-support-content h1{

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;

}

.need-support-content p{

    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.submit{

    width: 684px;
    height: 58px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;

}

.input{

    width: 548px;
    height: 57px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.field{

    margin-left: 20px;

}

.field input{

    width: 313px;
    height: 19px;
    border: none;

}

.button{

    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;

}

.button button{

    width: 80px;
    height: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;

}

/* i need support section styles ended here */

/* footer section styles started here */

.footer{

    width: 1440px;
    height: 100px;
    margin: 0 auto;
    margin-top: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{

    width: 1140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer h4{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;

}

.footer-img{

    display: flex;
    gap: 20px;
}

/* footer section styles ended here */



